<div class="login">
<h1Login</h1><br>
</div>

<div>
<%= form_for :user, url: '/login' do %>
 UserName: <%= text_field_tag :username %><br>
 Password: <%= password_field_tag :password %>
<%= submit_tag "Submit" %>
<% end %>
 </div>
       
   
